* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: auto;
    background: #FEFCF7;
    font-family: "Barlow", serif;
    padding-bottom: 50px;
}

.aboutus-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}


.home-page-header {
    display: flex;
    width: 92vw;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.home-page-header-pages {
    display: flex;
    gap: 32px;
}

#checkbox4 {
    display: none;
}

.home-page-header-pic-mobile {
    display: none;
}

.home-page-header-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    color: #83888F;
    transition: color 0.3s ease, 0.3s ease-out;
}


.home-page-header-text-about {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    color: black;
    transition: color 0.3s ease, 0.3s ease-out;
}


.home-page-header-text-about:hover {
    transform: scale(1.1);
    color: black;
    cursor: pointer;
}

.home-page-header-text:hover {
    transform: scale(1.1);
    color: black;
    cursor: pointer;
}


@media (max-width: 730px) {

    .visuallyHidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }

    .container {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .hamburger {
        margin: 0 auto;
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 10;
    }

    .hamburger .bar {
        padding: 0;
        width: 30px;
        height: 4px;
        background-color: #333D4B;
        display: block;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: absolute;
    }

    .bar1 {
        top: 0;
    }

    .bar2,
    .bar3 {
        top: 13.5px;
    }

    .bar3 {
        right: 0;
    }

    .bar4 {
        bottom: 0;
    }

    .hamburger2 .bar2,
    .hamburger3 .bar3,
    .hamburger4 .bar4 {
        top: 13.5px;
    }

    .hamburger4 .bar5 {
        bottom: 0px;
    }

    .hamburger4 .bar {
        transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    }

    .hamburger4 .bar2 {
        width: 1px;
        transform: rotate(90deg);
        left: 13.5px;
    }

    .hamburger4 .bar3 {
        width: 1px;
        left: 13.5px;

    }

    .checkbox4:checked+label>.hamburger4>.bar1 {
        top: 13.5px;
        background-color: transparent;
    }

    .checkbox4:checked+label>.hamburger4>.bar2 {
        left: 0px;
        width: 30px;
        transform: rotate(45deg);
    }

    .checkbox4:checked+label>.hamburger4>.bar3 {
        left: 0;
        width: 30px;
        transform: rotate(-45deg);
    }

    .checkbox4:checked+label>.hamburger4>.bar4 {
        background-color: transparent;
    }

    .checkbox4:checked+label>.hamburger4>.bar5 {
        bottom: 13.5px;
        background-color: transparent;
    }

    .home-page-header-pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 5px;
        position: absolute;
        top: 62px;
        border-radius: 10px;
        height: 355px;
        width: 100vw;
        left: 0;
        opacity: 0;
        background-color: #FEFCF7;
        transform: translateY(-850px);
        transition: opacity 0.6s ease, transform 0.6s ease;
    }


    .mobile-resp {
        width: 100vw;
        height: 150px;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        z-index: 1000;
        left: 0;
        position: absolute;
        top: 350px;
    }

    .home-page-header-text {
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        color: black;
        opacity: 70%;
        font-family: "Fraunces", serif;
    }

    .home-page-header-text-about {
        font-size: 24px;
        font-weight: 900;
        line-height: 24px;
        color: black;
        font-family: "Fraunces", serif;
    }


    #checkbox4:checked~.home-page-header-pages {
        opacity: 1;
        transform: translateX(0);
    }


    .home-page-header-pic {
        display: none;
    }

    .home-page-header-pic-mobile {
        display: flex;
    }

}

.secondpart {
    width: 92vw;
    height: 85vh;
    display: flex;
    justify-content: center;
}

.secondpartpc {
    display: flex;
    width: 92vw;
    height: 75vh;
    background-image: url(./images/Group\ 7\ \(2\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    border-radius: 10px;
}

.texton {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 493px;
    height: 50%;
    justify-content: center;
    margin-left: 90px;
}

.textontop {
    color: #FEFCF7;
    font-family: "Fraunces", serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 24px;
}

.textonbot {
    color: #FEFCF7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 445px;
}

.thirdpart {
    width: 80%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.txt {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.txttop {
    color: #333D4B;
    font-family: "Fraunces", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

.txtbot {
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 540px;
    opacity: 0.8;
    margin-top: 32px;
}


@media (max-width: 1175px) {
    .thirdpart {
        width: 90vw;
        height: 850px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 32px;
    }

    .pic {
        min-width: 300px;
        min-height: 520px;
        height: auto;
        margin-bottom: 30px;
    }

    .txt {
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: start;
    }

    .txttop {
        font-size: 32px;
        line-height: 40px;
        padding-right: 60px;
    }

    .txtbot {
        width: 339px;
        padding-bottom: 75px;
        font-size: 15px;

    }

}

@media (max-width:790px) {
    
    .secondpart {
        width: 92vw;
        height: 500px;
        display: flex;
        justify-content: center;
    }
    
    .secondpartpc {
        width: 92vw;
        height: 400px;
        background-image: url(./images/aboutusresp.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items: center;
        justify-content: center;
        align-items: center;
    }
    
    .texton {
        align-items: center;
        flex-direction: column;
        width: 279px;
        height: 202px;
        justify-content: center;
        padding-right: 30px;
        padding-left: 0px;
        text-align: center;
        padding-right: 100px;
    }
    
    .textontop {
        font-size: 28px;
        line-height: 28px;
    }
    
    .textonbot {
        color: #FEFCF7;
        font-size: 15px;
        line-height: 25px;
        width: 279px;
    }
    
    .thirdpart {
        width: 90vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .pic {
        min-width: 92vw;
        min-height: 606px;
        height: auto;
    }

    .txt {
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: start;
    }

    .txttop {
        width: 92vw;
        text-align: center;
        padding-right: 0;
    }

    .txtbot {
        width: 327px;
        font-size: 15px;
        text-align: center;
    }


}



.headerpic {
    transition: color 0.3s ease, 0.3s ease-out;
}

.headerpic:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.page3cont {
    height: 70vh;
    width: 92vw;
    display: flex;
    align-items: center;
    padding-top: 150px;
}

.aboutus-page3 {
    background-color: #333D4B;
    width: 92vw;
    height: 50vh;
    border-radius: 10px;
    position: relative;
}

.aboutus-page3-text1 {
    color: #FEFCF7;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    font-family: "Fraunces", serif;
    padding-top: 88px;
}

.aboutus-page3-text2 {
    line-height: 26px;
    color: #FEFCF7;
    width: 520px;
    height: 130px;
    opacity: 80%;
    padding-top: 32px;
}

.aboutus-page3-box {
    display: flex;
    justify-content: space-around;
}

.aboutus-page3img {
    position: relative;
    bottom: 15vh;
}

.dekstoppic {
    display: flex;
}

.resppic {
    display: none;
}

.tabletpic {
    display: none;
}

.page4cont {
    height: 60vh;
    width: 92vw;
    display: flex;
    align-items: center;
}

.aboutus-page4 {
    display: flex;
    flex-direction: column;
    height: 38vh;
    width: 1050PX;
    padding-left: 10vw;
    justify-content: space-between;
}

.aboutus-page4boxes {
    display: flex;
    justify-content: space-between;
    width: 900px;
    align-items: center;
}

.aboutus-page4header {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    font-family: "Fraunces", serif;
}

.page4boxheader {
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    font-family: "Fraunces", serif;
    color: #333D4B;
    padding-top: 45px;
    padding-bottom: 24px;
}

.page4boxtext {
    line-height: 26px;
    color: #333D4B;
}

.footer {
    width: 92vw;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 85px;
    padding-right: 85px;
    height: 120px;
    background-color: #2C343E;
}

.footer-image {
    color: #FEFCF7;
    display: flex;
    align-items: flex-start;
    padding-right: 7%;
}

.footer-texts {
    display: flex;
    width: 420px;
    justify-content: space-between;
}

.footer-text1 {
    color: #83888F;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    cursor: pointer;

}

.footer-text1:hover {
    color: #FEFCF7;
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

#footer-aboutus {
    color: #FEFCF7;
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

.footer-icon {
    padding-left: 30%;
    display: flex;
    align-items: flex-end;
    gap: 24px;
    cursor: pointer;
}

@media only screen and (min-width: 1470px) {
    .footer-icon {
        padding-left: 30%;
    }

}

@media only screen and (max-width: 1360px) {
    .footer-texts {
        min-width: 350px;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1300px) {
    .footer-icon {
        padding-left: 20%;
    }
}

@media only screen and (max-width: 1175px) {
    .footer-icon {
        padding-left: 15%;
    }

    .footer {
        padding-right: 6%;
    }

    .aboutus-page4 {
        padding-left: 5vw;
    }

    .page3cont {
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 150px;
    }

    .desktoppic {
        display: none;
    }

    .tabletpic {
        display: flex;
    }

    .aboutus-page3 {
        height: 500px;
        justify-content: center;
        align-items: center;
    }

    .aboutus-page3-text1 {
        font-size: 32px;
        padding-top: 250px;
        text-align: center;
    }

    .aboutus-page3-text2 {
        padding-top: 32px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;

    }

    .aboutus-page3-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .aboutus-page3img {
        bottom: 550px;
    }

}

@media only screen and (max-width: 1135px) {
    .footer-icon {
        padding-left: 10%;
    }


}

@media only screen and (max-width: 1065px) {
    .footer-icon {
        padding-left: 8%;
    }

    .aboutus-page4 {
        height: 900px;
        width: auto;
        padding-left: 0;
    }

    .aboutus-page4boxes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
    }

    .page4cont {
        height: 1250px;
        padding-bottom: 50px;
        width: auto;
    }

    .aboutus-page4boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
    }

    .aboutus-page4header {
        text-align: center;
        padding-bottom: 70px;
    }

}

.logos:hover {
    fill: #FDD6BA;
    transition: fill 0.3s ease;
}


@media (max-width: 1024px) {
    .footer {
        padding-top: 54px;
        padding-bottom: 54px;
        flex-direction: column;
        height: 270px;
        padding-right: 0%;
        padding-left: 0%;
    }

    .footer-image {
        padding-right: 0%;
    }

    .footer-icon {
        padding-left: 0%;
        padding-right: 0px;
    }

    .footer-texts {
        padding-right: 0%;
    }
}


@media (max-width: 768px) {
    .footer {
        height: 347px;
    }

    .footer-texts {
        gap: 24px;
        flex-direction: column;
        align-items: center;
    }

    .footer-icon {
        padding-right: 0px;
    }

    .tabletpic {
        display: none;
    }

    .resppic {
        display: flex;
    }

    .page3cont {
        height: 500px;
    }

    .aboutus-page3 {
        height: 500px;
    }

    .aboutus-page3-text1 {
        padding-top: 120px;
        width: 279px;
    }

    .aboutus-page3-text2 {
        width: 279px;
    }


    .aboutus-page3img {
        bottom: 400px;
    }

}

