* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 100vh;
    background: #FEFCF7;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92vw;
    height: 10vh;
}

.righttop {
    display: flex;
    align-items: center;
    gap: 32px;
}

.hac {
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
    transition: color 0.3s ease, 0.3s ease;
}

.hac:hover {
    transform: scale(1.1);
    color: black;
    cursor: pointer;
}

.secondpart {
    width: 92vw;
    height: 85vh;
    display: flex;
    justify-content: center;
}

.secondpartpc {
    display: flex;
    width: 92vw;
    height: 75vh;
    background-image: url(./images/Group\ 7\ \(2\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    border-radius: 10px;
}

.texton {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 493px;
    height: 50%;
    justify-content: center;
    margin-left: 90px;
}

.textontop {
    color: #FEFCF7;
    font-family: "Fraunces", serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 24px;
}

.textonbot {
    color: #FEFCF7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 445px;
}

.thirdpart {
    width: 80%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.txt {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.txttop {
    color: #333D4B;
    font-family: "Fraunces", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

.txtbot {
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 540px;
    opacity: 0.8;
    margin-top: 32px;
}