* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    background: #FEFCF7;
    font-family: "Barlow", serif;
    padding-bottom: 50px;
}

.subscribe-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

.home-page-header {
    display: flex;
    width: 92vw;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.home-page-header-pages {
    display: flex;
    gap: 32px;
}

#checkbox4 {
    display: none;
}

.home-page-header-pic-mobile {
    display: none;
}

.home-page-header-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    color: #83888F;
    transition: color 0.3s ease, 0.3s ease-out;
}


.home-page-header-text-plan {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    color: black;
    transition: color 0.3s ease, 0.3s ease-out;
}


.home-page-header-text-plan:hover {
    transform: scale(1.1);
    color: black;
    cursor: pointer;
}

.home-page-header-text:hover {
    transform: scale(1.1);
    color: black;
    cursor: pointer;
}


@media (max-width: 730px) {

    .visuallyHidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }

    .container {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .hamburger {
        margin: 0 auto;
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 10;
    }

    .hamburger .bar {
        padding: 0;
        width: 30px;
        height: 4px;
        background-color: #333D4B;
        display: block;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: absolute;
    }

    .bar1 {
        top: 0;
    }

    .bar2,
    .bar3 {
        top: 13.5px;
    }

    .bar3 {
        right: 0;
    }

    .bar4 {
        bottom: 0;
    }

    .hamburger2 .bar2,
    .hamburger3 .bar3,
    .hamburger4 .bar4 {
        top: 13.5px;
    }

    .hamburger4 .bar5 {
        bottom: 0px;
    }

    .hamburger4 .bar {
        transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    }

    .hamburger4 .bar2 {
        width: 1px;
        transform: rotate(90deg);
        left: 13.5px;
    }

    .hamburger4 .bar3 {
        width: 1px;
        left: 13.5px;

    }

    .checkbox4:checked+label>.hamburger4>.bar1 {
        top: 13.5px;
        background-color: transparent;
    }

    .checkbox4:checked+label>.hamburger4>.bar2 {
        left: 0px;
        width: 30px;
        transform: rotate(45deg);
    }

    .checkbox4:checked+label>.hamburger4>.bar3 {
        left: 0;
        width: 30px;
        transform: rotate(-45deg);
    }

    .checkbox4:checked+label>.hamburger4>.bar4 {
        background-color: transparent;
    }

    .checkbox4:checked+label>.hamburger4>.bar5 {
        bottom: 13.5px;
        background-color: transparent;
    }

    .home-page-header-pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 5px;
        position: absolute;
        top: 62px;
        border-radius: 10px;
        height: 355px;
        width: 100vw;
        left: 0;
        opacity: 0;
        background-color: #FEFCF7;
        transform: translateY(-850px);
        transition: opacity 0.6s ease, transform 0.6s ease;
    }


    .mobile-resp {
        width: 100vw;
        height: 150px;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        z-index: 1000;
        left: 0;
        position: absolute;
        top: 350px;
    }

    .home-page-header-text {
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        color: black;
        opacity: 70%;
        font-family: "Fraunces", serif;
    }

    .home-page-header-text-plan {
        font-size: 24px;
        font-weight: 900;
        line-height: 24px;
        color: black;
        font-family: "Fraunces", serif;
    }

    #checkbox4:checked~.home-page-header-pages {
        opacity: 1;
        transform: translateX(0);
    }


    .home-page-header-pic {
        display: none;
    }

    .home-page-header-pic-mobile {
        display: flex;
    }

}


.secondpartp {
    width: 92vw;
    height: 85vh;
    display: flex;
    justify-content: center;
}

.secondpartpcp {
    display: flex;
    width: 92vw;
    height: 75vh;
    background-image: url(./images/createpl1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.textonp {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 493px;
    height: 50%;
    justify-content: center;
    margin-left: 90px;
}

.textontopp {
    color: #FEFCF7;
    font-family: "Fraunces", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}

.textonbotp {
    opacity: 0.8;
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 445px;
    margin-top: 32px;
}

.pageth {
    width: 90vw;
    padding-right: 85px;
    padding-left: 85px;
    display: flex;
    flex-direction: column;
    background-color: #333D4B;
    border-radius: 10px;
}

.pagethbackground {
    padding-top: 80px;
    padding-bottom: 67px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pagethline {
    padding-bottom: 12px;
}

.pagethboxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding-bottom: 64px;
}

.pagethbox {
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 355px;
}

.pagethnumb {
    color: #FDD6BA;
    font-family: "Fraunces", serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
}

.pagethboxtext {
    width: 255px;
    padding-top: 38px;
    color: #FEFCF7;
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
}

.pagethboxtextt {
    width: 255px;
    padding-bottom: 42px;
    color: #FEFCF7;
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
}

.pagethboxtexttt {
    color: #FEFCF7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 285px;
}

@media only screen and (max-width: 1250px) {
    .pageth {
        padding-left: 3%;
    }

    .pagethboxes {
        gap: 6%;
    }
}

@media only screen and (max-width: 1100px) {
    .pageth {
        width: 100vw;
        height: 80vh;
        padding-left: 3%;
    }

    .pagethboxes {
        gap: 3%;
    }
}

@media (max-width: 933px) {
    .pageth {
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .pagethbackground {
        display: none;
    }

    .pagethboxes {
        width: 100vw;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 1100px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .pagethbox {
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 252px;
    }

    .pagethboxtext {
        width: 327px;
        font-size: 28px;
        line-height: 32px;
        text-align: center;
        padding-bottom: 32px;
    }



    .pagethboxtexttt {
        color: #FEFCF7;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        width: 285px;
    }


}

@media (max-width: 700px) {

    .secondpartp {
        height: 450px;
    }


    .secondpartpcp {
        border-radius: 10px;
        background-image: url(./images/Bitmap\ \(6\).svg);
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 400px;
        z-index: -1;
    }

    .textonp {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: auto;
        height: 50%;
        justify-content: center;
        margin-left: 0px;
    }

    .textontopp {
        color: #FEFCF7;
        font-size: 40px;
        font-weight: 900;
        line-height: 40px;
        padding-left: 25px;
    }

    .textonbotp {
        opacity: 80%;
        color: #FEFCF7;
        font-size: 15px;
        line-height: 25px;
        width: 279px;
    }
}

.footer {
    width: 92vw;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 85px;
    padding-right: 85px;
    height: 120px;
    background-color: #2C343E;
}

.footer-image {
    color: #FEFCF7;
    display: flex;
    align-items: flex-start;
    padding-right: 7%;
}

.footer-texts {
    display: flex;
    width: 420px;
    justify-content: space-between;
}

.footer-text1 {
    color: #83888F;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    cursor: pointer;

}

.footer-text1:hover {
    color: #FEFCF7;
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

#footer-createyourplan {
    color: #FEFCF7;
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

.footer-icon {
    padding-left: 30%;
    display: flex;
    align-items: flex-end;
    gap: 24px;
    cursor: pointer;
}

@media only screen and (min-width: 1470px) {
    .footer-icon {
        padding-left: 30%;
    }

}


@media only screen and (max-width: 1360px) {
    .footer-texts {
        min-width: 350px;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1300px) {
    .footer-icon {
        padding-left: 20%;
    }
}

@media only screen and (max-width: 1175px) {
    .footer-icon {
        padding-left: 15%;
    }

    .footer {
        padding-right: 6%;
    }
}

@media only screen and (max-width: 1135px) {
    .footer-icon {
        padding-left: 10%;
    }


}

@media only screen and (max-width: 1065px) {
    .footer-icon {
        padding-left: 8%;
    }
}

@media (max-width: 1024px) {
    .footer {
        padding-top: 54px;
        padding-bottom: 54px;
        flex-direction: column;
        height: 270px;
        padding-right: 0%;
        padding-left: 0%;
    }

    .footer-image {
        padding-right: 0%;
    }

    .footer-icon {
        padding-left: 0%;
        padding-right: 0px;
    }

    .footer-texts {
        padding-right: 0%;
    }
}

@media (max-width: 768px) {
    .footer {
        height: 347px;
    }

    .footer-texts {
        gap: 24px;
        flex-direction: column;
        align-items: center;
    }

    .footer-icon {
        padding-right: 0px;
    }
}

.logos:hover {
    fill: #FDD6BA;
    transition: fill 0.3s ease;
}

.headerpic {
    transition: color 0.3s ease, 0.3s ease-out;
}

.headerpic:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.subscribe-page-left {
    height: 45vh;
    width: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subscribe-page-left-text {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    font-family: "Fraunces", serif;
    color: #83888F;
    display: flex;
    gap: 28.5px;
    width: 300px;
}

.subscribe-page-left-line {
    width: 100%;
    height: 1px;
    background-color: #83888F;
}


.subscribe-page-right {
    height: auto;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
}

.subscribe-page-right-catalog {
    display: flex;
    width: 750px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.catalog-text {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
    font-family: "Fraunces", serif;
}

.catalog-arrow {
    transition: transform 0.3s ease-in-out;
}

.options1 {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    display: flex;
    gap: 38px;
    transform: translateY(-20px);
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.optionheader {
    color: #333D4B;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
}

.optioninfo {
    color: #333D4B;
    line-height: 26px;
    width: 172px;
}

.cups {
    width: 228px;
    height: 250px;
    border-radius: 8px;
    background-color: #F4F1EB;
    opacity: 0;
    transform: translateY(-100px);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 30px;
    gap: 24px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;
}

.cups:hover {
    background-color: #FDD6BA;
    transform: scale(1.02);
}

.options1.active {
    max-height: 250px;
    justify-content: space-between;
    opacity: 1;
    transform: translateY(0);
}

.cups.active {
    opacity: 1;
    transform: translateY(0);
}

.catalog-arrow.active {
    transform: rotate(180deg);
}

.subscribe-page-right-order {
    width: 750px;
    height: 208px;
    background-color: #333D4B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: start;
}

.order-header {
    opacity: 50%;
    color: #FFF;
    line-height: 26px;
    text-transform: uppercase;
    align-items: start;
}

.orderheaderplacement {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 554px;
}

.order-details {
    color: #FFF;
    font-family: "Fraunces", serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    width: 554px;
}

#coffecup {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

#typeofcoffe {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

#typeofcoffe {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

#sizeofcoffe {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}


#typeofgrind {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
}

#deliveramount {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}



.order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 217px;
    height: 56px;
    border-radius: 6px;
    border: none;
    background-color: #E2DEDB;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    font-family: "Fraunces", serif;
    color: #FEFCF7;
}

.subscribe-page3 {
    width: 70vw;
    height: auto;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 88px;
    padding-top: 88px;
}

.alert {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.alertheader {
    width: 540px;
    height: 136px;
    color: #FFF;
    font-family: "Fraunces", serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    background-color: #333D4B;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 50px;
}

.alert-details {
    color: #83888F;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    width: 428px;
}

.alert-details span {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
}


.alert-content {
    background-color: #FEFCF7;
    width: 540px;
    height: 597px;
    text-align: center;
    gap: 32px;
}

.alert .close-alert {
    background-color: #0E8784;
    border: none;
    cursor: pointer;
    width: 217px;
    height: 56px;
    border-radius: 6px;
    color: #FEFCF7;
    text-align: center;
    font-family: "Fraunces", serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    transition: color 0.3s ease, 0.3s ease-out;
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
}

.price {
    color: #333D4B;
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
}

.alert .close-alert:hover {
    transform: scale(1.05);
    background: #66D2CF;
    cursor: pointer;
}

.price1 {
    display: none;
}

.closing {
    display: flex;
    width: 428px;
    justify-content: space-between;
    align-items: center;
}

.confirmation {
    color: #333D4B;
    line-height: 26px;
    opacity: 80%;
    width: 428px;
}

.bodyalert {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: start;
    height: 70%;
}

@media (max-width: 1450px) {
    .subscribe-page-left {
        display: none;
    }

    .subscribe-page3 {
        justify-content: center;
        align-items: center;
    }

    .subscribe-page-right {
        align-items: center;
    }

}

@media (max-width: 875px) {
    .subscribe-page-right {
        height: auto;
        width: 40vw;
        align-items: center;
    }

    .subscribe-page-right-catalog {
        width: 80vw;
    }

    .catalog-text {
        font-size: 32px;
    }

    .optioninfo {
        width: 278px;
    }

    .options1 {
        flex-direction: column;
    }

    .cups {
        width: 80vw;
        max-height: 140px;
    }

    .cups:hover {
        background-color: #FDD6BA;
        transform: scale(1.02);
    }

    .options1.active {
        max-height: 470px;
        justify-content: space-between;
        opacity: 1;
        transform: translateY(0);
    }

    .cups.active {
        opacity: 1;
        transform: translateY(0);
        max-height: 140px !important;
    }

    .catalog-arrow.active {
        transform: rotate(180deg);
    }

    .subscribe-page-right-order {
        width: 80vw;
        height: 308px;
    }

    .order-header {
        opacity: 50%;
        color: #FFF;
        line-height: 26px;
        text-transform: uppercase;
        align-items: start;
    }

    .orderheaderplacement {
        display: flex;
        align-items: start;
        justify-content: start;
        width: 450px;
    }

}


@media (max-width: 632px) {
    .catalog-text {
        font-size: 24px;
        width: 60vw;
    }

    .cups {
        width: 90vw;
    }

    .subscribe-page-right-order {
        height: 308px;
    }

    .orderheaderplacement {
        width: 300px;
    }

    .order-details {
        font-size: 24px;
    }

    #coffecup {
        font-size: 24px;
    }

    #typeofcoffe {
        font-size: 24px;
    }

    #typeofcoffe {
        font-size: 24px;
    }

    #sizeofcoffe {
        font-size: 24px;
    }


    #typeofgrind {
        font-size: 24px;
    }

    #deliveramount {
        font-size: 24px;
    }


    .order-details {
        font-size: 24px;
        width: 300px;
    }

    .alertheader {
        width: 327px;
        height: 88px;
        font-size: 28px;
        padding-left: 24px;
    }

    .alert-details {
        font-size: 24px;
        width: 279px;
    }

    .alert-details span {
        font-size: 24px;
    }


    .alert-content {
        width: 327px;
        height: 597px;
    }

    .alert .close-alert {
        background-color: #0E8784;
        border: none;
        cursor: pointer;
        width: 279px;
        height: 56px;
        border-radius: 6px;
        color: #FEFCF7;
        text-align: center;
        font-family: "Fraunces", serif;
        font-size: 16px;
        font-weight: 900;
        line-height: 25px;
        transition: color 0.3s ease, 0.3s ease-out;
    }


    .price1 {
        display: flex;
    }

    .alert .close-alert:hover {
        transform: scale(1.05);
        background: #66D2CF;
        cursor: pointer;
    }

    .closing {
        display: flex;
        width: 327px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .confirmation {
        width: 279px;
        font-size: 15px;
    }

    .bodyalert {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        text-align: start;
        height: 80%;
        padding-top: 15px;
    }

    .price {
        display: none;
    }

    .alert {
        height: 100vh;
        overflow-y: hidden;
    }


}


@media (max-width: 438px) {
    .order-details {
        font-size: 24px;
        width: 250px;
    }

    .subscribe-page-right-order {
        height: 358px;
        width: 90vw;
    }

    .orderheaderplacement {
        width: 250px;
    }
}