* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: auto;
    background: #FEFCF7;
    font-family: "Barlow", serif;
    padding-bottom: 50px;
}

.subscribe-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92vw;
    height: 10vh;
}

.righttopp {
    display: flex;
    align-items: center;
    gap: 32px;
}

.hacp {
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    transition: color 0.3s ease, 0.3s ease-out;
}

.hacplan {
    color: black;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    transition: color 0.3s ease, 0.3s ease-out;
}

.hacplan:hover {
    transform: scale(1.1);
    color: black;
    cursor: pointer;
}

.hacp:hover {
    transform: scale(1.1);
    color: black;
    cursor: pointer;
    opacity: 70%;
}

#createyourplan1 {
    color: black;
}


.secondpartp {
    width: 92vw;
    height: 85vh;
    display: flex;
    justify-content: center;
}

.secondpartpcp {
    display: flex;
    width: 92vw;
    height: 75vh;
    background-image: url(./images/createpl1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.textonp {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 493px;
    height: 50%;
    justify-content: center;
    margin-left: 90px;
}

.textontopp {
    color: #FEFCF7;
    font-family: "Fraunces", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}

.textonbotp {
    opacity: 0.8;
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 445px;
    margin-top: 32px;
}

.pageth {
    width: 90vw;
    padding-right: 85px;
    padding-left: 85px;
    display: flex;
    flex-direction: column;
    background-color: #333D4B;
    border-radius: 10px;
}

.pagethbackground {
    padding-top: 80px;
    padding-bottom: 67px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pagethline {
    padding-bottom: 12px;
}

.pagethboxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding-bottom: 64px;
}

.pagethbox {
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 355px;
}

.pagethnumb {
    color: #FDD6BA;
    font-family: "Fraunces", serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
}

.pagethboxtext {
    width: 255px;
    padding-top: 38px;
    color: #FEFCF7;
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
}

.pagethboxtextt {
    width: 255px;
    padding-bottom: 42px;
    color: #FEFCF7;
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
}

.pagethboxtexttt {
    color: #FEFCF7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 285px;
}

@media only screen and (max-width: 1250px) {
    .pageth {
        padding-left: 3%;
    }

    .pagethboxes {
        gap: 6%;
    }
}

@media only screen and (max-width: 1100px) {
    .pageth {
        width: 100%;
        padding-left: 1%;
    }

    .pagethboxes {
        gap: 3%;
    }
}

.footer {
    width: 92vw;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 85px;
    padding-right: 85px;
    height: 120px;
    background-color: #2C343E;
}

.footer-image {
    color: #FEFCF7;
    display: flex;
    align-items: flex-start;
    padding-right: 7%;
}

.footer-texts {
    display: flex;
    width: 282px;
    justify-content: space-between;
}

.footer-text1 {
    color: #83888F;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease, 0.3s ease-out;
}

.footer-text1:hover {
    color: #FEFCF7;
    transform: scale(1.1);
}

.footer-icon {
    padding-left: 35%;
    display: flex;
    align-items: flex-end;
    gap: 24px;
    cursor: pointer;
}

@media only screen and (min-width: 1470px) {
    .footer-icon {
        padding-left: 40%;
    }
}

@media only screen and (max-width: 1300px) {
    .footer-icon {
        padding-left: 20%;
    }
}

@media only screen and (max-width: 1175px) {
    .footer-icon {
        padding-left: 15%;
    }

    .footer {
        padding-right: 6%;
    }
}

@media only screen and (max-width: 1135px) {
    .footer-icon {
        padding-left: 10%;
    }


}

@media only screen and (max-width: 1065px) {
    .footer-icon {
        padding-left: 8%;
    }
}

@media (max-width: 1024px) {
    .footer {
        padding-top: 54px;
        padding-bottom: 54px;
        flex-direction: column;
        height: 270px;
        padding-right: 0%;
        padding-left: 0%;
    }

    .footer-image {
        padding-right: 0%;
    }

    .footer-icon {
        padding-left: 0%;
        padding-right: 0px;
    }

    .footer-texts {
        padding-right: 0%;
    }
}

@media (max-width: 768px) {
    .footer {
        height: 347px;
    }

    .footer-texts {
        gap: 24px;
        flex-direction: column;
        align-items: center;
    }

    .footer-icon {
        padding-right: 0px;
    }
}

.logos:hover {
    fill: #FDD6BA;
    transition: fill 0.3s ease;
}

.headerpic {
    transition: color 0.3s ease, 0.3s ease-out;
}

.headerpic:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.subscribe-page-left {
    height: 45vh;
    width: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subscribe-page-left-text {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    font-family: "Fraunces", serif;
    color: #83888F;
    display: flex;
    gap: 28.5px;
    width: 300px;
}

.subscribe-page-left-line {
    width: 100%;
    height: 1px;
    background-color: #83888F;
}


.subscribe-page-right {
    height: auto;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
}

.subscribe-page-right-catalog {
    display: flex;
    width: 750px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.catalog-text {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
    font-family: "Fraunces", serif;
}

.catalog-arrow {
    transition: transform 0.3s ease-in-out;
}

.options1 {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    display: flex;
    gap: 38px;
    transform: translateY(-20px);
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.optionheader {
    color: #333D4B;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
}

.optioninfo {
    color: #333D4B;
    line-height: 26px;
    width: 172px;
}

.cups {
    width: 228px;
    height: 250px;
    border-radius: 8px;
    background-color: #F4F1EB;
    opacity: 0;
    transform: translateY(-100px);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 30px;
    gap: 24px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.cups:hover {
    background-color: #FDD6BA;
    transform: scale(1.02);
}

.options1.active {
    max-height: 250px;
    justify-content: space-between;
    opacity: 1;
    transform: translateY(0);
}

.cups.active {
    opacity: 1;
    transform: translateY(0);
}

.catalog-arrow.active {
    transform: rotate(180deg);
}

.subscribe-page-right-order {
    width: 750px;
    height: 208px;
    background-color: #333D4B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: start;
}

.order-header {
    opacity: 50%;
    color: #FFF;
    line-height: 26px;
    text-transform: uppercase;
    align-items: start;
}

.orderheaderplacement {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 554px;
}

.order-details {
    color: #FFF;
    font-family: "Fraunces", serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    width: 554px;
}

#coffecup {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

#typeofcoffe {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

#typeofcoffe {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

#sizeofcoffe {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}


#typeofgrind {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
}

#deliveramount {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}



.order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 217px;
    height: 56px;
    border-radius: 6px;
    border: none;
    background-color: #E2DEDB;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    font-family: "Fraunces", serif;
    color: #FEFCF7;
}

.subscribe-page3 {
    width: 70vw;
    height: auto;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 88px;
    padding-top: 88px;
}

.alert {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.alertheader {
    width: 540px;
    height: 136px;
    color: #FFF;
    font-family: "Fraunces", serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    background-color: #333D4B;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 50px;
}

.alert-details {
    color: #83888F;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    width: 428px;
}

.alert-details span {
    color: #0E8784;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
}


.alert-content {
    background-color: #FEFCF7;
    width: 540px;
    height: 597px;
    text-align: center;
    gap: 32px;
}

.alert .close-alert {
    background-color: #0E8784;
    border: none;
    cursor: pointer;
    width: 217px;
    height: 56px;
    border-radius: 6px;
    color: #FEFCF7;
    text-align: center;
    font-family: "Fraunces", serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    transition: color 0.3s ease, 0.3s ease-out;
}

.price {
    color: #333D4B;
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
}

.alert .close-alert:hover {
    transform: scale(1.05);
    background: #66D2CF;
    cursor: pointer;
}

.closing {
    display: flex;
    width: 428px;
    justify-content: space-between;
    align-items: center;
}

.confirmation {
    color: #333D4B;
    line-height: 26px;
    opacity: 80%;
    width: 428px;
}

.bodyalert {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: start;
    height: 70%;
}

@media (max-width: 1450px) {
    .subscribe-page-left {
        display: none;
    }

    .subscribe-page3 {
        justify-content: center;
        align-items: center;
    }

    .subscribe-page-right {
        align-items: center;
    }

}

@media (max-width: 875px) {
    .subscribe-page-right {
        height: auto;
        width: 40vw;
        align-items: center;
    }

    .subscribe-page-right-catalog {
        width: 80vw;
    }

    .catalog-text {
        font-size: 32px;
    }

    .optioninfo {
        width: 278px;
    }

    .options1 {
        flex-direction: column;
    }

    .cups {
        width: 80vw;
        max-height: 140px;
    }

    .cups:hover {
        background-color: #FDD6BA;
        transform: scale(1.02);
    }

    .options1.active {
        max-height: 470px;
        justify-content: space-between;
        opacity: 1;
        transform: translateY(0);
    }

    .cups.active {
        opacity: 1;
        transform: translateY(0);
        max-height: 140px !important;
    }

    .catalog-arrow.active {
        transform: rotate(180deg);
    }

    .subscribe-page-right-order {
        width: 80vw;
        height: 308px;
    }

    .order-header {
        opacity: 50%;
        color: #FFF;
        line-height: 26px;
        text-transform: uppercase;
        align-items: start;
    }

    .orderheaderplacement {
        display: flex;
        align-items: start;
        justify-content: start;
        width: 450px;
    }

}


@media (max-width: 632px) {
    .catalog-text {
        font-size: 24px;
        width: 60vw;
    }

    .cups {
        width: 90vw;
    }

    .subscribe-page-right-order {
        height: 308px;
    }

    .orderheaderplacement {
        width: 300px;
    }

    .order-details {
        font-size: 24px;
    }

    #coffecup {
        font-size: 24px;
    }

    #typeofcoffe {
        font-size: 24px;
    }

    #typeofcoffe {
        font-size: 24px;
    }

    #sizeofcoffe {
        font-size: 24px;
    }


    #typeofgrind {
        font-size: 24px;
    }

    #deliveramount {
        font-size: 24px;
    }


    .order-details {
        font-size: 24px;
        width: 300px;
    }

    .alertheader {
        width: 327px;
        height: 206px;
        color: #FFF;
        font-family: "Fraunces", serif;
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
        background-color: #333D4B;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 50px;
    }

    .alert-details {
        color: #83888F;
        font-family: "Fraunces", serif;
        font-size: 24px;
        font-weight: 900;
        line-height: 40px;
        width: 307px;
    }

    .alert-details span {
        color: #0E8784;
        font-family: "Fraunces", serif;
        font-size: 24px;
        font-weight: 900;
        line-height: 40px;
    }


    .alert-content {
        background-color: #FEFCF7;
        width: 327px;
        height: 597px;
        text-align: center;
        gap: 32px;
    }

    .alert .close-alert {
        background-color: #0E8784;
        border: none;
        cursor: pointer;
        width: 279px;
        height: auto;
        border-radius: 6px;
        color: #FEFCF7;
        text-align: center;
        font-family: "Fraunces", serif;
        font-size: 18px;
        font-weight: 900;
        line-height: 25px;
        transition: color 0.3s ease, 0.3s ease-out;
    }

    .price {
        color: #333D4B;
        font-family: "Fraunces", serif;
        font-size: 32px;
        font-weight: 900;
        line-height: 36px;
    }

    .alert .close-alert:hover {
        transform: scale(1.05);
        background: #66D2CF;
        cursor: pointer;
    }

    .closing {
        display: flex;
        width: 327px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .confirmation {
        color: #333D4B;
        line-height: 26px;
        opacity: 80%;
        width: 428px;
    }

    .bodyalert {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        text-align: start;
        height: 70%;
    }



}


@media (max-width: 438px) {
    .order-details {
        font-size: 24px;
        width: 250px;
    }

    .subscribe-page-right-order {
        height: 358px;
        width: 90vw;
    }

    .orderheaderplacement {
        width: 250px;
    }
}